
.container{
    border: 30px;
    ;
}

span {
    padding-left: 60px;
    width: 50px;
    font-size: 25px;
}

.config_img_banner{
    width: 50%;
    margin: 20px;
    border-radius: 30px;
    
}



  .primeira_decricao{
    b
    margin: 30px;
  }


 

 .img_primeiro_local_turistico{
    margin: 30px;
    border-radius: 30px;
    margin-right: 30px;
 }
 
 footer{

    text-align: center;
    padding-top: 28px;
    margin-bottom: 48px;
}

/*aplicando o css na raiz do arquivo, ai muda para todos*/
:root{
    font-family: "Alice", serif;
    font-style: normal;
    line-height: 150%;
} 
