
.container{
    border: 30px;
    background-color: blueviolet;
}

span {
    padding-left: 60px;
    width: 50px;
    font-size: 25px;
}

.config_img_banner{
    width: 50%;
    margin: 20px;
    border-radius: 30px;
    
}



  .primeira_decricao{
    background-color: red;
    margin: 30px;
  }


 .img_local_turistico{
    border-radius: 30px;
    width: 60%;

 }

 .img_primeiro_local_turistico{
    border-radius: 30px;
    float: left;
    margin-right: 30px;
 }
 
 .img_segundo_local_turistico{
    border-radius: 30px;
    float: right;
    margin-right: 30px;
 }